<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="server=.\sqlexpress;integrated security=true;initial catalog=chinook" name="chinook"/>
    <add connectionString="server=localhost;database=chinook;user id=rob;password=password" name="chinookPG"/>
  </connectionStrings>

</configuration>